body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

header {
  padding: 10px;
  background: #020617;
  text-align: left;
  height: 5em;
}

header h1 {
  font-size: 1.5rem;
}

#messages {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
}

.msg {
  word-wrap: break-word;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.name {
  font-weight: bold;
  color: #38bdf8;
}

#sendBox {
  display: flex;
  padding: 5px;
  gap: 4px;
  border-radius: 15px;
  border: 2px solid #22c55e;
  margin: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: black;
  color: white;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 90px;
  background: #22c55e;
  border: none;
}

#clear {
  background: #fc2339;
}

nav {
  width: 100%;
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  flex: 1;
}

.nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.25s ease;
}

.nav li a:hover {
  background: rgba(56,189,248,0.18);
}

@media (max-width: 600px) {
  header {
    height: 4em;
  }
  header h1 {
    font-size: 1.2rem;
  }
  #sendBox {
    position: sticky;
    bottom: 0;
  }
}
